<h2>Accounts</h2>

<li><%= link_to "Add new Account", sign_up_path %></li>

<table>

	<% i=0 %>

	<% @accounts.each do |acc| %>
	
		<% i = i + 1 %>

		<tr>
			<td>
				<%= "#{i} - " %>
			</td>

        	<td>
        		<%= acc.email %>
        	</td>

        	<td><%= link_to 'Destroy', user_path(acc),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    		</tr>

	<% end %>

</table>