<% if current_user %>

	<% if current_user.manager %>

		<h2>Manager Dash</h2>

		<ul>
			<li><%= link_to "Accounts", accounts_path %></li>
			<li><%= link_to "Tasks", manager_tasks_path %></li>
		</ul>
		
		

	<% else %>

		<h2>Staffer Dash</h2>


	<% end %>

<% else %>
	
	<%= render :partial => "sessions/new" %>

<% end %>
