<h2>With Name Subscription</h2>

<form action="/subscriptions/new" method="post" id="new_subscription" class="new_subscription">
    
    <input value="With Name" type="hidden" name="subscription[list]" id="subscritpion_list">

    <div class="field">
      <label for="subscription_email">
        Email
      </label><br>
      <input type="text" name="subscription[email]" id="subscription_email">
    </div>
    
    <div class="field">
      <label for="subscription_email">
        Name
      </label><br>
      <input type="text" name="subscription[name]" id="subscription_name">
    </div>
    
    <div class="actions">
      <input type="submit" name="commit" value="Create Subscription">
    </div>

  </form>

<h2>Without Name Subscription</h2>

<form action="/subscriptions/new" method="post" id="new_subscription" class="new_subscription">
    
    <input value="Without Name" type="hidden" name="subscription[list]" id="subscritpion_list">

    <div class="field">
      <label for="subscription_email">
        Email
      </label><br>
      <input type="text" name="subscription[email]" id="subscription_email">
    </div>
    
    <div class="field">
      <label for="subscription_email">
        Name
      </label><br>
      <input type="text" name="subscription[name]" id="subscription_name">
    </div>
    
    <div class="actions">
      <input type="submit" name="commit" value="Create Subscription">
    </div>

  </form>
