<table>

	<tr>
			
			<td>
				
			</td>

        	<td>
        		Title
        	</td>

			<td>
        		Staffer
			</td>

			<td>
        		Manager
			</td>

		</tr>

	<% i=0 %>

	<% @user_tasks.each do |task| %>
	
		<% i = i + 1 %>
		<% staffer = User.find(task.user_id) %>
		<% manager = User.find(task.manager_id) %>

		<tr>
			
			<td>
				<%= "#{i} - " %>
			</td>

        	<td>
        		<%= task.title %>
        	</td>

        	<td>
        		<%= staffer.email %>
			</td>

			<td>
        		<%= manager.email %>
			</td>


		</tr>

	<% end %>

</table>