<!DOCTYPE html>
	<html>
		<head>
			{% load helpers %}
		</head>

		<body>
			{% with cookie=request.COOKIES.new_cook %}    
			
				{% if cookie %}

					<p>you are signed in!</p>

					<h2>Your Module Names:</h2>

					{% my_modules cookie as mods %}

					<ul>
						{% for x in mods %}
							<li>
								{{x}}
							</li>
						{% endfor %}
					</ul>

				{% else %}

					<h1>Sign In</h1>
				
					<form method="POST" action="/sign_in"> {% csrf_token %}
						{{ form.as_p }}
						<input type="submit">
					</form>
					
					</br>

					<p>{{ error }}</p>			
					
				{% endif %}

			{% endwith %}		

		</body>

	</html>