/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap";
@import "bootstrap-sprockets";

// Alert div positioning  !!

.alert {
position: absolute;
z-index: 1;
left: 35%;
right: 35%;
width: 30%;
}


// alert div opacity

.alert-info {
opacity: 0.5%;
}


//  page content padding from top header  !!

body {
    padding-top: 50px; 
}


// Form div positioning  !!

.center { 
float: none; 
margin-left: 10%; 
margin-right: auto; 
margin-top: 5%;
}


// Form fields bottom margin  !!

.control-group {
margin-bottom: 5px;
}


// Font Awesome icon right margins  !!

.fa {
margin-right: 10px;
}


// Navigation header right padding  !!

.nav_pad {
padding-right: 20px;
}


// form submit button top margin  !!

.sub {
margin-top: 20px;
}